/*#display_result_popup {
 display: none;
 top: 40%;
 left: 40%;
 background-position : center;
 z-index: 10001;
 position: fixed;
}
.loader {
 border: 16px solid #f3f3f3;
 border-radius: 50%;
 border-top: 16px solid blue;
 border-right: 16px solid gray;
 border-bottom: 16px solid blue;
 border-left: 16px solid gray;
 width: 50px;
 height: 50px;
 margin-left: 30%;
 background-repeat : no-repeat;
 -webkit-animation: spin 2s linear infinite;
 animation: spin 2s linear infinite;
 top:;
}

@-webkit-keyframes spin {
 0% { -webkit-transform: rotate(0deg); }
 100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
 0% { transform: rotate(0deg); }
 100% { transform: rotate(360deg); }
}
#hide_functionality {
 display: none;
 position: fixed;
 background-color: rgba(0,0,0,0.5);
 height: 100%;
 top: 0;
 right: 0;
 z-index: 10000;
 bottom: 0;
 left: 0;
}*/

.wdm_msg{
	color: white;
    font-size: large;
}

.wdm_status_border{
	border: 2px solid black;
}

.wdm_status{
	height: 24px;
	width: 0%;
	background-color: blue;
}

#display_page_popup {
 top: 40%;
 left: 40%;
 background-position : center;
 z-index: 10001;
 position: fixed;
}
/*.loader {
 border: 16px solid #f3f3f3;
 border-radius: 50%;
 border-top: 16px solid blue;
 border-right: 16px solid gray;
 border-bottom: 16px solid blue;
 border-left: 16px solid gray;
 width: 50px;
 height: 50px;
 margin-left: 30%;
 background-repeat : no-repeat;
 -webkit-animation: spin 2s linear infinite;
 animation: spin 2s linear infinite;
 top:;
}*/
#hide_page {
 position: fixed;
 background-color: rgba(0,0,0,0.78);
 height: 100%;
 top: 0;
 right: 0;
 z-index: 10000;
 bottom: 0;
 left: 0;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
body{
  background: #e7e7e7;
  font-family: Arial, Helvetica, Sans-serif;
  padding: 5px;
  margin: 0;
}

.loader{
  margin: 50px auto 10px;
  width: 300px;
  height: 25px;
  border-radius: 14px;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #999;
  background: #ccc;
  overflow: hidden;
  position: relative;
}

.loader.gray{
  background: #999;
}

.progress-bar{
  height: inherit;
  width: 0%;
  border-radius: inherit;
  position: relative;
  overflow: hidden;
}

.progress-stripes{
  width: inherit;
  height: inherit;
  font-size: 180px;
  font-weight: bold;
  margin-top: -50px;
  letter-spacing: -14px;
}

.percentage{
  position: absolute;
  top: 4px;
  right: 5px;
  font-weight: bold;
  font-size: 16px;
}



/***************************************/
/* BELOW HERE IS SOLELY FOR AESTHETICS */
/*_____________________________________*/

/*** COLOR SCHEMES ***/

/* RED */
.red .progress-bar{
  background: #e74c3c;
}
.red .progress-stripes{
  color: #c0392b;
}
.red .percentage{
  color: #eee;
}

/* BLUE */
.blue .progress-bar{
  background: #3498db;
}
.blue .progress-stripes{
  color: #2980b9;
}
.blue .percentage{
  color: #eee;
}

/* GREEN */
.green .progress-bar{
  background: #2ecc71;
}
.green .progress-stripes{
  color: #27ae60;
}
.green .percentage{
  color: #fff;
}

/* YELLOW */
.yellow .progress-bar{
  background: #f1c40f;
}
.yellow .progress-stripes{
  color: #f39c12;
}
.yellow .percentage{
  color: #fff;
}

/* PURPLE */
.purple .progress-bar{
  background: #9b59b6;
}
.purple .progress-stripes{
  color: #8e44ad;
}
.purple .percentage{
  color: #eee;
}

/* GRAY */
.gray .progress-bar{
  background: #ecf0f1;
}
.gray .progress-stripes{
  color: #bdc3c7;
}
.gray .percentage{
  color: #333;
}

/*** LOADED ***/

span{
  color: #888;
  text-shadow: 0 1px 0 #fff;
}

span.loaded.red{
  color: #c0392b;
}

span.loaded.blue{
  color: #2980b9;
}

span.loaded.green{
  color: #27ae60;
}

span.loaded.yellow{
  color: #d35400;
}

span.loaded.purple{
  color: #8e44ad;
}

span.loaded.gray{
  color: #444;
}

/*** SKINS ***/
.skins{
  padding: 4px 0 8px;
  cursor: default;
  font-size: 14px;
  color: #666;
  background: #fff;
  opacity: .5;
  -moz-transition: opacity .25s linear;
  -webkit-transition: opacity .25s linear;
  transition: opacity .25s linear;
}

.skins:hover{
  opacity: 1;
}

.skin{
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-bottom: -7px;
  border: 1px solid #fff;
  display: inline-block;
    *display: inline;
    zoom: 1.0;
}
#red{
  background: #c0392b;
}
#red:hover{
  background: #e74c3c;
}
#blue{
  background: #2980b9;
}
#blue:hover{
  background: #3498db;
}
#green{
  background: #27ae60;
}
#green:hover{
  background: #2ecc71;
}
#yellow{
  background: #f39c12;
}
#yellow:hover{
  background: #f1c40f;
}
#purple{
  background: #8e44ad;
}
#purple:hover{
  background: #9b59b6;
}
#gray{
  background: #7f8c8d;
}
#gray:hover{
  background: #95a5a6;
}

/*----------------Page Loader---------------------------------------------------------------*/
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: #fff;
	text-align: center;
}

.loding_img{
	background: url(images/Preloader__3.gif) center no-repeat #fff;
	height: 50px;
}

.se-pre-con > div {
	position: fixed;
    top: 50%;
    left: 50%;
    height: 100%;
}
.se-pre-con > div > div {
  background-color: #333;
  height: 10%;
  width: 6px;
  display: inline-block;
  top:50%;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.se-pre-con .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;

}

.se-pre-con .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;

}

.se-pre-con .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;

}

.se-pre-con .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;

}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

